.container {
  position: absolute;
  display: flex;
  top: 60px;
  right: 15px;
  height: 300px;
  min-width: 270px;
  background-color: white;
  color: black;
  width: 28%;
  z-index: 100;
  border-radius: 4px;
  box-shadow: 1px 1px 8px 1px #757575;
  padding: 0px;
  flex-direction: column;
  text-align: center;
  & .title {
    text-align: center;
    text-transform: uppercase;
    font-family: serif;
  }
  & .content {
    overflow-y: scroll;
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 8px;
    height: 100%;
    & .item-container {
      border-bottom: 1px solid #eeeeee;
      padding-bottom: 5px;
      margin: 10px;
      flex-direction: row;
      display: flex;
      margin: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1%;
      & .item-content {
        align-items: center;
        display: flex;
        & .item-img {
          width: 25px;
          height: 60px;
          margin-right: 5px;
          background-color: white;
          padding: 4px 10px;
          border-radius: 4px;
        }
      }
      & .item-tagline {
        font-size: 10px;
        margin-right: 5px;
      }
    }
  }
  & .checkout-button {
    width: 80%;
    align-self: center;
    margin-bottom: 10px;
    height: 48px;
    margin-top: 8px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: black;
    box-shadow:1px 1px 8px 1px black ;
    text-transform: uppercase;
  }
}
/* Hide scrollbar for Chrome, Safari and Opera */
.content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
