.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  min-width: 300px;
  height: 400px;
  justify-content: center !important;
  align-items: center;
  .content {
    height: 100% !important;
    display: flex !important;
    background-color: white;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    margin: 5px !important;
    padding: 5px;
    width: 250px;
    border-radius: 4px;
    transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    .img {
      width: 40px;
      height: 50%;
      background-size: contain;
    }
    .star-button {
      transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s;
      margin-left: auto !important;
      display: flex;
      justify-content: flex-end;
      outline: none;
      border-radius: 1000px;
      padding: 0px;
      border: none;
      background-color: #ffffff;
      cursor: pointer;
    }
    & .modal-botton {
      border: none;
      border-radius: 50% 20%/10% 40%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      display: flex;
      height: 40px;
      color: white;
      padding: auto 4px !important;
      margin-bottom: 20px;
      align-items: center;
      width: 100px;
      text-align: center;
      align-self: center;
      justify-content: center;
      transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      background-color: black;
    }
    & .modal-botton:hover {
      color: black;
      background-color: white;
    }
  }
  & .content:hover {
    cursor: pointer;
    background-color: #eeeeee;
    .star-button {
      background-color: #eeeeee;
    }
  }
}
@media (min-width: 768px) {
  .card {
    flex: 1 1 40%;

    display: flex;
    justify-content: space-between;
  }
}
