.tabbar-item-catgories {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabbar-item-container {
  flex-direction: row;
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
    margin: 1%;
    max-width: 200px;
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 300px;
      margin: 0px !important;
      box-shadow: 2px 2px 10px #eeeeee;
      margin: 4px;
      .img {
        width: 40px;
        height: 150px;
        background-size: contain;
      }
    }
    .star-button {
      margin-left: auto !important;
      display: flex;
      justify-content: flex-end;
    }
  }
  @media (min-width: 768px) {
    .card {
      flex: 1 1 30%;
    }
  }
}
