.checkout-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  & .checkout-content-container {
    width: 90%;
    display: flex;
    background-color: white;
    padding: 10px 1%;
    border-radius: 4px;
    position: relative;
    min-height: 100px;
    margin-bottom: 40px;
    & .checkout-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;
      & .checkout-title {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        border-bottom: 1px solid black;
        padding-bottom: 5px;
        text-transform: uppercase;
        font-family: cursive;
        & .checkout-img {
          width: 15%;
        }
        & .checkout-name {
          width: 19%;
        }
        & .checkout-count {
          width: 15%;
        }
        & .checkout-amaliat {
          width: 22%;
        }
      }
      & .checkout-item {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        & .checkout-img {
          width: 15%;
          height: 80px;
          margin-top: 8px;
          padding: 5px 0px;
          overflow: hidden;
          align-items: center;

          display: flex;
        }
        & .checkout-name {
          width: 19%;
          height: 80px;
          margin-top: 8px;
          padding: 5px 0px;
          overflow: hidden;
          align-items: center;

          display: flex;
        }
        & .checkout-count {
          width: 15%;
          height: 80px;
          margin-top: 8px;
          padding: 5px 0px;
          overflow: hidden;
          align-items: center;

          display: flex;
        }
        & .checkout-amaliat {
          width: 22%;
          height: 80px;
          margin-top: 8px;
          padding: 5px 0px;
          overflow: hidden;
          align-items: center;
          display: flex;
          & button{
            cursor: pointer;
          }
          & .checkout-amal-button {
            font-size: 18px;
            border: none;
            outline: none;
            background-color: transparent;
          }
        }
      }
    }
    & .checkout-footer {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row-reverse;
      margin-top: 20px;
      align-items: center;
      & .payment-button {
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        width: 150px;
        height: 35px;
        border: none;
        outline: none;
        border-radius: 6px;
        background-color: black;
        color: white;
        cursor: pointer;
        box-shadow: 1px 1px 5px 1px black;
      }
      & .checkout-total-price {
        bottom: 0px;
        right: 80px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }
    }
  }
}
