.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  & .modal-content {
   background-color: white;
    position: relative;
    margin: 0px auto;
    min-height: 250px;
    border-radius: 8px;
    padding: 10px auto;
    display: flex;
    z-index: 1;
    flex-direction: column;
    padding-top: 8px;
    width: 30%;
    & .item-img {
      width: 50px;
      height: 100px;
      align-self: center;
      border-radius: 7px;
      border: 1px solid #90a4ae;
      padding: 15px;
      background-color: #90a4ae;
    }
    & .item-name {
      text-align: center;
      color: 6
      black;
      text-transform: uppercase;
    }
    & .item-description {
      padding: 4px 15px;
      color: black;
      text-align: justify;
    }
    & .price-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 0px 15px;
      text-transform: uppercase;
      & p {
        color: black;
      }
    }
    & .item-tagline {
      color: black;
      text-align: center;
    }
    & .button {
      outline: none;
      background-color: black;
      border-radius: 8px;
      margin:10px 20px;
      border-style: none;
      box-shadow: 3px 3px 3px 1px black;
      align-self: center;
      width: 80%;
      color: white;
      cursor: pointer;
      text-transform: uppercase;
      height: 40px;
      align-items: center;
    }
  }
}
