.header-container {
  position: relative !important;
  display: flex !important;
  flex: 1 !important;
  height: 60px;
  .header-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0px 10px;
    width: 100%;
    position: relative;
    align-items: center;
    background-color: #2196f3;
    box-shadow: 1px 1px 9px 0.1px black;
    & .header-left-section {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    & .basket-button {
      display: flex;
      position: relative;
      z-index: 100;
      background-color: transparent;
      outline: none;
      border: none;
      color: white;
      & .count-basket {
        position: absolute;
        top: -20px;
        left: -5px;
        background-color: red;
        color: white;
        width: 13px;
        height: 13px;
        border-radius: 1000px;
        text-align: center;
        align-self: center;
      }
    }
  }
  .appbar-container {
    height: 100%;
    z-index: -100 !important ;
    position: absolute;
  }
}
